:root {
  --font-family: "Montserrat", sans-serif;
  --border-radius: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #1e385b;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 22px;
}

header {
  background: #fff;
  height: 56px;
  padding: 6px 240px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

a {
  color: #3732c6;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.logo img {
  max-height: 20px;
}

.menu {
  list-style: none;
  display: flex;
  column-gap: 24px;
}

.menu li {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #090624;
}

.menu li a {
  color: #090624;
  text-decoration: none;
}

.menu-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  column-gap: 8px;
}

.menu-right a {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-decoration: none;
}

.signup {
  border-radius: var(--border-radius);
  padding: 10px 18px;
  width: 124px;
  height: 44px;
  background: #e8e8f1;
}

.label {
  border-radius: 22px;
  padding: 2px 4px;
  width: 35px;
  height: 16px;
  background: #f04438;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.hero {
  padding: 80px 240px;
  background: radial-gradient(
    685.95% 144.19% at 50% 54.25%,
    rgb(57, 52, 205) 0%,
    rgb(0, 0, 0) 100%
  );
}

.hero-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.hero-block h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 20px;
}

.hero-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  width: 535px;
}

.hero-nums {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  column-gap: 92px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  margin: 24px 0;
}

.hero-nums span {
  font-weight: 800;
  font-size: 38px;
  line-height: 140%;
  display: block;
}

.hero-block a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: #fff;
  border-radius: 8px;
  padding: 12px 20px;
}

.features {
  padding: 80px 194px;
}

.feature-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  column-gap: 22px;
  margin-top: 22px;
}

.card {
  background: #f9f9fa;
  border-radius: 14px;
  padding: 32px;
}

.card h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
}

.card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background: #3732c6;
  border-radius: 7px;
  width: 36px;
  height: 36px;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.reviews {
  padding: 80px 194px;
  background: #f9f9fa;
}

.review-slider {
  margin-top: 20px;
  overflow: hidden;
  width: 1530px;
  position: relative;
}

.review-container {
  display: flex;
  transition: transform 0.5s ease;
  column-gap: 15px;
}

.review-card {
  flex: 0 0 500px; /* Each card has a fixed width of 500px */
  box-sizing: border-box;
  background: #fff;
  border-radius: 14px;
  padding: 34px;
}

.review-title {
  font-weight: 700;
  font-size: 20px;
  margin: 19px 0;
}

.review-card p {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}

.review-author {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #1f1c70;
  margin-top: 24px;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #d4d4d4;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #7c7c7c;
}

.footer-top {
  padding: 40px 194px;
}

.footer-top-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.footer-left h2 {
  width: 473px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: stretch;
  column-gap: 49px;
  font-size: 15px;
  line-height: 186%;
  letter-spacing: 0.01em;
}

.footer-right a {
  font-weight: 700;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  column-gap: 10px;
  margin-top: 20px;
}

input[type="email"] {
  border: 1px solid #bbc0d9;
  border-radius: 8px;
  padding: 15px 20px;
  min-width: 299px;
}

input[type="email"]::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgba(30, 56, 91, 0.42);
}

input[type="submit"] {
  border-radius: 8px;
  padding: 15px 20px;
  background: #3732c6;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
}

.footer-bottom {
  background: #111052;
  padding: 12px 0;
}

.footer-bottom-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.copyright {
  font-weight: 500;
  font-size: 14px;
  color: #7e9dac;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  column-gap: 23px;
}

.social-icon {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.social-icon i {
  color: #0b0e02;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: none;
}

@media (max-width: 576px) {
  header {
    padding: 13px;
  }

  .navigation {
    display: none;
  }
  .hero-block {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 12px;
  }
  .container {
    max-width: 100%;
  }

  .hero {
    padding: 45px 16px;
  }

  .hero-block {
    align-items: flex-start;
  }

  .hero-block h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .hero-block p {
    font-size: 14px;
    width: 343px;
  }

  .hero-block a {
    display: block;
    text-align: center;
  }

  .hero-nums {
    column-gap: 19px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .hero-nums span {
    font-size: 28px;
  }

  .features {
    padding: 60px 16px;
  }

  .feature-cards {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-top: 22px;
  }

  .reviews {
    padding: 60px 16px;
  }

  .review-slider {
    margin-top: 10px;
    width: 343px;
  }

  .review-card {
    flex: 0 0 343px;
    box-sizing: border-box;
    padding: 34px 23px;
    max-width: 343px;
  }

  .review-author {
    text-align: left;
  }

  .footer-top {
    padding: 60px 16px;
  }

  .footer-top-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .footer-left h2 {
    width: 353px;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  input[type="email"] {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
  }

  .footer-right {
    column-gap: 7px;
  }

  .footer-bottom-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 8px;
  }

  .footer-bottom {
    padding: 16px;
  }

  .signup {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }
}

/* html {
  outline: 1px solid red;
} */
